<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @order.product_id %>
</p>

<p>
  <b>Order number:</b>
  <%= @order.order_number %>
</p>

<p>
  <b>Price:</b>
  <%= @order.price %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
